{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">Age Of Mythology</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                   
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/Onik-BD92Ow?si=DCxFuLn9TcHSo7jK" title="YouTube video player" frameborder="0" 
                   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                   referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://img.redbull.com/images/q_auto,f_auto/redbullcom/2024/8/28/eij3n4yugnxhlbf8wwuk/age-of-mythology-retold" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://i.ytimg.com/vi/21vj0Nfz9lE/maxresdefault.jpg" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/266840/ss_d3642c1136df1ae9bb26de0318f37fa554ba76fd.1920x1080.jpg?t=1757713426" height="250px" width="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://img.tamindir.com/resize/300x350/2021/04/217929/age-of-mythology5.jpg" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://i.ytimg.com/vi/fR3Wyj7vZUo/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGHIgSCgsMA8=&rs=AOn4CLB-6Yy-0Ppuw47JiFAcz34kKFIiEQ" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://store.steampowered.com/app/266840/Age_of_Mythology_Extended_Edition/"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">

                    Age of Mythology, Ensemble Studios tarafından geliştirilen ve klasik gerçek zamanlı strateji (RTS) türünü mitoloji ve efsanelerle harmanlayan unutulmaz bir yapımdır. Age of Empires serisinin temelleri üzerine inşa edilen oyun, oyuncuları tarihsel gerçeklikten çıkararak tanrıların, kahramanların ve efsanevi yaratıkların hüküm sürdüğü bir dünyaya davet eder.

Oyunda üç ana uygarlık bulunur: Yunanlar, Mısırlılar ve İskandinavlar. Her uygarlık kendine özgü tanrılara, birimlere, mimariye ve oynanış tarzına sahiptir. Oyuncular, ana tanrılar ve onlara bağlı yan tanrılar arasından seçim yaparak stratejilerini şekillendirir. Seçilen tanrılar; özel güçler, kutsamalar ve efsanevi yaratıklar sunarak savaşın seyrini dramatik biçimde değiştirebilir.

Age of Mythology’nin en dikkat çekici yönlerinden biri Tanrı Güçleri (God Powers) sistemidir. Depremler, yıldırımlar, fırtınalar veya yerden yükselen dev yaratıklar gibi güçler sayesinde savaş alanı aniden kaosa sürüklenebilir. Ayrıca Minotor, Medusa, Fenrir, Anubis savaşçıları gibi efsanevi birimler, oyuna benzersiz bir atmosfer katar.

Oyun yalnızca çok oyunculu rekabetten ibaret değildir. Derin hikâyesiyle öne çıkan tek oyunculu senaryo modu, oyuncuları mitolojik bir destanın içine çeker. Kahramanlar, tanrılar ve kadim kehanetler etrafında şekillenen bu anlatım, strateji oyunları arasında nadir görülen güçlü bir hikâye deneyimi sunar.

Klasik kaynak yönetimi, üs kurma ve ordu kontrolü mekaniklerini mitolojik öğelerle ustaca birleştiren Age of Mythology, hem strateji tutkunları hem de mitoloji meraklıları için zamansız bir başyapıttır. Renkli atmosferi, akılda kalıcı müzikleri ve özgün oynanışıyla, aradan geçen yıllara rağmen hâlâ büyük bir keyifle oynanmaktadır. Tanrıların gücünü arkanıza alın ve efsaneleri yeniden yazın.
                
              </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
