{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">Conan Exiles </h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                   
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/-puWjrKm4-o?si=amRdowSHivEFE2i7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://i.ytimg.com/vi/dpOWY4AKWqo/maxresdefault.jpg" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://cdn.mos.cms.futurecdn.net/9D2DDfNPva2HjZFBKH5Y7e.jpg" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPXJv0rJtYnoEVOH5ZRNM3nVK1fDhT2a13-A&s" height="250px" width="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://www.passthecontroller.co.uk/uploads/6/9/2/8/69285419/james-s-gameplay-pt2-00-28-09-18-still016_orig.png" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_f6keutwRcLKvc09lzl7s_IlFf2qMwr37rA&s" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://www.conanexiles.com/"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">

                  Conan Exiles, barbar Conan evreninde geçen, sert ve acımasız bir hayatta kalma hikâyesi sunar. Oyunda, suçlu ya da sürgün edilmiş bir karakter olarak “Sürgün Toprakları” adı verilen lanetli ve tehlikeli bir diyarda hayata tutunmaya çalışırsın. Bu topraklar, medeniyetin kurallarının işlemediği, yalnızca gücün ve iradenin ayakta kalabildiği bir yerdir.

Hikâye, doğrudan anlatılan bir olay örgüsüne dayanmaz. Bunun yerine dünya, keşif yoluyla kendi geçmişini fısıldar. Harabeler, terk edilmiş şehirler, devasa tapınaklar ve gizemli yaratıklar, bu toprakların bir zamanlar büyük uygarlıklara ev sahipliği yaptığını gösterir. Ancak bu uygarlıkların nasıl yok olduğu ve lanetin kaynağı net biçimde açıklanmaz; oyuncu, bulduğu ipuçlarını birleştirerek kendi yorumunu oluşturur.

Hayatta kalmak için açlık, susuzluk ve çevresel tehlikelerle mücadele etmek gerekir. Oyuncu, barınaklar ve kaleler inşa eder, silahlar ve zırhlar üretir, köle olarak adlandırılan fakat emek gücü olarak kullanılan karakterleri kontrol altına alarak kendi yerleşimini güçlendirir. Zamanla küçük bir hayatta kalma çabası, güçlü bir krallık kurma hedefine dönüşebilir.

Conan Exiles’ın hikâyesi, güç, özgürlük ve vahşet temaları etrafında şekillenir. Dünya affetmez; zayıflık cezalandırılır. Oyun, oyuncuya hazır bir kahramanlık öyküsü sunmaz. Bunun yerine, her oyuncunun kendi barbar destanını yazmasına imkân tanır. Bu yönüyle Conan Exiles, karanlık atmosferi ve özgür oynanışıyla öne çıkan, sert bir hayatta kalma deneyimi sunar.

              </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
