{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">Crusader Kings III</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">

                   <iframe width="560" height="315" src="https://www.youtube.com/embed/xjn66Cl3pMA?si=LQC_Gvpm_zfqFgEK" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://static.voidu.com/cdn-cgi/image/format=webp,fit=cover,width=891,height=497/images/thumbs/0167749_crusader-kings-iii-royal-edition-row.jpeg" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://static.voidu.com/cdn-cgi/image/format=webp,fit=cover,width=891,height=497/images/thumbs/0214290_crusader-kings-iii-starter-edition-row.png" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://static.voidu.com/cdn-cgi/image/format=webp,fit=cover,width=891,height=497/images/thumbs/0167750_crusader-kings-iii-royal-edition-row.jpeg" height="250px" width="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://static.voidu.com/cdn-cgi/image/format=webp,fit=cover,width=891,height=497/images/thumbs/0214289_crusader-kings-iii-starter-edition-row.png" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/1158310/e3ee2a08a2102755f3e4639149617e859943a594/ss_e3ee2a08a2102755f3e4639149617e859943a594.1920x1080.jpg?t=1765537474" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://www.paradoxinteractive.com/games/crusader-kings-iii/about"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">
                
              Crusader Kings III, Paradox Interactive tarafından geliştirilen ve Orta Çağ’ı yalnızca savaş meydanlarında değil, entrika, hanedan ve kişisel ilişkiler üzerinden yaşatan eşsiz bir büyük strateji (grand strategy) oyunudur. Oyun, 867 veya 1066 yıllarında başlar ve oyunculara bir devletten ziyade bir hanedanın liderliğini üstlenme sorumluluğu verir. Amacınız; soyunuzu yüzyıllar boyunca ayakta tutmak, gücünüzü artırmak ve tarihe damga vuran bir hanedan yaratmaktır.

Crusader Kings III’te savaşlar kadar diplomasi, entrika ve karakter ilişkileri de büyük önem taşır. Yönettiğiniz hükümdar; kişilik özellikleri, eğitim tarzı, korkuları, tutkuları ve ahlaki değerleriyle benzersizdir. Bu özellikler, verdiğiniz kararları doğrudan etkiler. Rakiplerinize suikast düzenleyebilir, sırlar ortaya çıkarabilir, evlilikler yoluyla siyasi ittifaklar kurabilir veya rakip hanedanları içten içe çökertmeyi tercih edebilirsiniz.

Oyunun merkezinde hanedan sistemi yer alır. Evlilikler yalnızca romantik değil, tamamen politik hamlelerdir. Doğru eş seçimleriyle güçlü müttefikler kazanabilir, taht iddiaları elde edebilir ve soyunuzun genetik özelliklerini geliştirebilirsiniz. Ancak kötü yönetilen miras sistemi, güçlü bir krallığı bile birkaç nesil içinde parçalayabilir. Ölüm oyunun sonu değil, yeni bir hükümdarla devam eden bir hikâyenin başlangıcıdır.

Crusader Kings III, rol yapma (RPG) öğeleriyle stratejiyi birleştirerek her oynanışta farklı bir hikâye sunar. Dinsel reformlar yapabilir, kültürünüzü geliştirebilir, feodal, kabile veya klan yönetim biçimlerini deneyimleyebilirsiniz. İsyanlar, haçlı seferleri, iç savaşlar ve saray entrikaları Orta Çağ’ın kaotik doğasını başarıyla yansıtır.

Geliştirilmiş arayüzü, detaylı karakter portreleri ve güçlü hikâye anlatımıyla Crusader Kings III, hem yeni oyuncular hem de serinin deneyimli hayranları için erişilebilir ama derin bir deneyim sunar. Strateji, tarih ve rol yapma öğelerini harmanlayan bu yapımda, haritayı fethetmekten çok insanları ve kaderlerini yönetirsiniz. Taht sizi bekliyor; peki hanedanınız tarihe nasıl geçecek?
                </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
