{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">Don't Starve Together</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                   
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/dU-aq2JbLkk?si=yD7h9EXcbSml5yJ1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/219740/ss_09bb6bdce4fa085c2c4a9a8f48ea52d3051b44bc.1920x1080.jpg?t=1763685379" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://i.ytimg.com/vi/xNTEwZhTzA0/maxresdefault.jpg" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://assets.nintendo.com/image/upload/ar_16:9,b_auto:border,c_lpad/b_white/f_auto/q_auto/dpr_1.5/c_scale,w_500/store/software/switch/70010000019795/9f72a18de93f768556212c6a193bc133ed3b9672e4de9c80756ec62b9ab484e2" height="250px" width="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://miro.medium.com/1*3wce9LYurFgnLxl94j3blQ.png" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNfJjopGbnCiZJCW6wUU1mMYaH2FtM0VbtNA&s" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://www.klei.com/games/dont-starve-together"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">

                  Don’t Starve Together, karanlık ve tuhaf bir evrende geçen, hayatta kalma odaklı bir macera sunar. Oyunda, gizemli bir şekilde bilinmeyen bir dünyaya sürüklenen karakterlerden birini kontrol edersin. Bu dünya, ilk bakışta çizgi film tarzında görünse de son derece acımasız ve affetmeyen kurallara sahiptir. Hikâye, neden burada olduğun ve bu dünyanın ne olduğu sorularını açıkça yanıtlamaz; oyuncu, cevapları keşfederek bulur.

Oyun, anlatımını doğrudan hikâye sahneleriyle değil, atmosferi, çevresel detayları ve karşılaşılan olaylar üzerinden kurar. Garip yaratıklar, gizemli yapılar ve doğaüstü unsurlar, bu dünyanın normal olmadığını sürekli hissettirir. Zaman ilerledikçe mevsimler değişir, çevre daha tehlikeli hâle gelir ve hayatta kalmak giderek zorlaşır.

Don’t Starve Together’da temel amaç hayatta kalmaktır. Açlık, akıl sağlığı ve sağlık gibi unsurlar sürekli dengede tutulmalıdır. Oyuncular birlikte çalışarak kaynak toplar, barınaklar kurar, aletler üretir ve tehlikelere karşı savunma yapar. İş birliği, bu oyunun merkezinde yer alır; tek başına hayatta kalmak mümkün olsa da birlikte hareket etmek çok daha güvenlidir.

Oyunun hikâyesi, açık bir başlangıç ve bitişten çok, oyuncuların yaşadıkları üzerinden şekillenir. Karanlık mizah, sürekli hissedilen tehdit duygusu ve iş birliğine dayalı oynanış, Don’t Starve Together’ı benzersiz kılar. Bu yönüyle oyun, arkadaşlarla paylaşılan ama her an sona erebilecek, tekinsiz ve unutulmaz bir hayatta kalma deneyimi sunar.

              </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
