{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">EA Sports FC 26</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                   
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TSi0iJYSQ24?si=RVnKGyv9kgAs-HCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://i.ytimg.com/vi/0DhlHlUX3eA/maxresdefault.jpg" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIG1X4w1PAaIRTfqxLYLq7bpbRZ-tj1QmO0g&s" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgU6flMpzUnCuZiQ5dUun1bngtHBOsbXNQkw&s" height="250px" width="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://i.ytimg.com/vi/MU4HWZlJldk/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLDelF_0srBPOCydB5ZOO9bLKWE3nw" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWOX1A_z0BrG4KgXFJWac-gjFNzn2cNNW-GA&s" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://www.ea.com/tr/games/ea-sports-fc/fc-26"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">

                  EA SPORTS FC 26, EA Sports’un futbol serisini daha da ileri taşıyarak gerçekçilik, oynanış derinliği ve içerik çeşitliliğini ön plana çıkaran modern bir futbol deneyimi sunar. Geliştirilmiş oyun motoru sayesinde pas temposu, top kontrolü ve fizik etkileşimleri daha doğal hale gelirken, maçlar daha dengeli ve gerçekçi bir akış kazanır. Sahadaki her pozisyon, oyuncunun kararlarına ve zamanlamasına daha fazla bağlıdır.

Oyunda kariyer modları, hem teknik direktör hem de futbolcu tarafında daha detaylı bir yapıya sahiptir. Takım yönetimi, taktiksel tercihler, oyuncu gelişimi ve transfer süreçleri daha derinlemesine ele alınır. Futbolcu kariyerinde bireysel performans, rol seçimi ve gelişim hedefleri ön plana çıkarken; menajerlik tarafında kulüp vizyonu ve uzun vadeli planlama büyük önem taşır.

Ultimate Team benzeri çevrim içi modlar, EA SPORTS FC 26’nın en çok vakit geçirilen içerikleri arasında yer alır. Kadro kurma özgürlüğü, rekabetçi sezonlar ve düzenli güncellemeler sayesinde oyuncular sürekli taze bir deneyim yaşar. Kadın ve erkek futbolunun birlikte sunulduğu yapı, lig ve oyuncu çeşitliliğini daha da artırır.

Güncellenmiş görseller, lisanslı ligler, takımlar ve stadyumlarla desteklenen EA SPORTS FC 26, hem rekabetçi hem de eğlence odaklı futbolu bir arada sunar. Futbolun taktiksel yönünü sevenler kadar hızlı ve akıcı maçlar arayan oyuncular için de güçlü, kapsamlı ve uzun soluklu bir futbol deneyimi vadeder.

              </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
