{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">007 First Line</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/nTUoIyTMw0Q?si=_hf3ugbnV7f9GoSm" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                    picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://i.ytimg.com/vi/R7qX6gKlo_0/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAP1BbJkjhjJ7Y4MOEagX03-cSQaQ" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://wl-static.voidu.com/cdn-cgi/image/format=webp,fit=cover,width=891,height=497,quality=75/games/75696/8-full.jpg" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIvhWBShY8oss2OefNBOmzexLL90HDd1iOtA&sg"  width="250px" height="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://images.purexbox.com/b14b81a8bb052/007-first-light-gets-massive-gameplay-deep-dive-and-it-looks-awesome-2.large.jpg" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                     <img src="https://cdn1.epicgames.com/spt-assets/ec961a13750b4d1da6881b1ca0eaecab/007-first-light-15dp6.jpg?resize=1&w=480&h=270&quality=medium" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://www.playstation.com/en-tr/games/007-first-light/"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">
                
                  007: First Light, James Bond evreninin gençlik yıllarına odaklanan, casusluk atmosferini modern aksiyon dinamikleriyle birleştiren sinematik bir macera oyunu olarak öne çıkıyor. Oyuncuyu, henüz “Double-0” statüsüne ulaşmamış genç bir Bond’un ilk sahadaki büyük operasyonuna götürüyor. Bu dönem, Bond’un ileride nasıl soğukkanlı, sezgileri güçlü ve ölümcül bir ajan hâline geldiğinin temellerini oluşturuyor.

Oyun; gizlilik, taktiksel kararlar, yoğun aksiyon sahneleri ve hikâyeyi etkileyen seçimlerle zenginleştirilmiş. Londra’dan Doğu Avrupa’ya, neon ışıklı yeraltı şehirlerinden yüksek güvenlikli bilgi merkezlerine kadar uzanan geniş bir coğrafyada geçen görevler, hem atmosfer hem de görsel tasarım açısından oldukça çarpıcı. Her bölüm, oyuncuya farklı bir yaklaşım sunuyor: gizlice sızmak, yüksek tempolu kovalamacalar, teknolojik ekipmanlarla çözülmesi gereken mini bulmacalar ve yakın dövüş ağırlıklı çatışmalar.

Bond’un karakter gelişimi oyunun temel noktalarından biri. Henüz acemi bir ajan olan Bond, hatalarından öğreniyor, zekâsını kullanmayı keşfediyor ve MI6 içindeki gerçek potansiyelini ilk kez burada gösteriyor. M16’ın ikonik teknolojik aygıtları, modern yorumlarıyla birlikte ilk kez Bond’un elinde sahneye çıkıyor.

Gerilim, entrika ve stil sahibi casusluk dokusunu bir arada sunan 007: First Light, hem Bond hayranlarına hem de aksiyon–macera türünü seven oyunculara güçlü bir başlangıç hikâyesi vaat ediyor. Henüz kariyerinin başındaki Bond’un, dünyayı şekillendirecek ilk kararlarını nasıl aldığını görme fırsatı sunuyor.
                
                </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
