{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">Grand Mountain</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                   
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-oNuOJ1fZ0o?si=CHCAdI1xAum2Fjce" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://play-lh.googleusercontent.com/xgRn906Q6nOsSg0o12hIkOjCIcnE5D48UKZ-6zTDU5fPiIkT7DpducWu7Tws1vMkAg=w526-h296-rw" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://play-lh.googleusercontent.com/iUpO7GFwyB4ZiFPdeVKhYLbqyYV7p8sjgiB2hFD8pAc4tRFQlyI0kqojcITQkoIefw=w526-h296-rw" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://play-lh.googleusercontent.com/Pd0r-ki562TPiPhY8H2itkacwx91SNqthPpgbFktDuazBla1-X90EzABzEBzq0c8TQ=w526-h296-rw" height="250px" width="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://play-lh.googleusercontent.com/KHEjH7clKh1gKxhHMpNs895pZwfHhIWIz_X2gRbbssGmOEwy6tUu7HFMD4VMXgC9Yw=w526-h296-rw" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://prod-images.blacknut.net/62c7fce57435731360cc24f3_hd.jpg" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://play.google.com/store/apps/details?id=com.toppluva.grandmountain"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">

                    Grand Mountain Adventure 2, ilk oyunun sevilen keşif ve özgürlük odaklı yapısını çok daha geniş, detaylı ve zengin bir deneyime taşıyor. Oyuncular, devasa karlı dağlarda kayak ve snowboard yaparken yalnızca pistlerle sınırlı kalmadan, doğal arazilerde özgürce ilerleyebiliyor. Oyun, rahatlatıcı atmosferi ile rekabeti dengeli biçimde sunarak her seviyeden oyuncuya hitap ediyor.

Yeni oyunda daha büyük açık dünya haritaları, farklı dağ ekosistemleri ve gelişmiş hava koşulları dikkat çekiyor. Gün–gece döngüsü, değişen hava durumu ve zemin yapısı, her inişi benzersiz hale getiriyor. Slalom, downhill, freestyle ve zorlu görevler gibi pek çok etkinlik, oyunculara hem hedef odaklı hem de serbest oynanış seçenekleri sunuyor.

Geliştirilmiş fizik motoru ve animasyonlar, hareketlerin daha akıcı ve gerçekçi hissedilmesini sağlıyor. Kontroller öğrenmesi kolay olsa da ustalaşması zaman alan bir yapıya sahip. Ayrıca karakter ve ekipman özelleştirmeleri sayesinde oyuncular kendi tarzlarını yansıtabiliyor, performanslarını oyun stiline göre şekillendirebiliyor.

Görsel açıdan sade ama etkileyici bir sanat tarzına sahip olan Grand Mountain Adventure 2, huzur veren müzikleri ve doğal sesleriyle kış sporlarının sakinliğini başarıyla yansıtıyor. Keşfetmeyi seven, stres atmak isteyen ya da kendi hızında karlı dağların tadını çıkarmak isteyen oyuncular için keyifli ve uzun soluklu bir kış macerası sunuyor.
                 
              </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
