{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">Hearts Of Iron IV</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                   
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/F-uGP2DkZKE?si=PZRbXWnGXpthQc7J"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl15xplv2smZDQUqLS-R3HkJ8ctxwX2MfkrQ&s" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://cdn.perdigital.com/contents/pic-in-game/hearts-of-iron-4-cadet-edition-pic.jpg" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://i.ytimg.com/vi/LxGNpPz_W2A/maxresdefault.jpg" height="250px" width="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://store.donanimhaber.com/94/bb/49/94bb4986460b42be91339737a774e346.png" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvdk8TzGO1QJGY7zXCeW3zCjbFeBBuhPTD3Q&s" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://www.paradoxinteractive.com/games/hearts-of-iron-iv/about"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">
             
                 Hearts of Iron IV, Paradox Interactive tarafından geliştirilen ve II. Dünya Savaşı dönemini merkezine alan, derinliğiyle öne çıkan bir büyük strateji (grand strategy) oyunudur. Oyuncular, 1936 veya 1939 yıllarından başlayarak dünyanın kaderini belirleyen küresel bir çatışmanın tam ortasında yer alır ve istedikleri bir ülkenin yönetimini üstlenir. Amacınız; askeri, siyasi ve endüstriyel gücünüzü en verimli şekilde kullanarak savaşın gidişatını değiştirmektir.

Oyunda yalnızca cephede kazanılan zaferler değil, arka plandaki hazırlıklar da büyük önem taşır. Fabrikaların yönetimi, silah üretimi, lojistik hatları ve kaynak kullanımı savaşın kaderini belirleyen temel unsurlardır. Kara, deniz ve hava kuvvetleri için detaylı birlik tasarımları yapabilir; tanklardan piyadelere, uçaklardan donanmalara kadar her bir birimi stratejinize göre şekillendirebilirsiniz.

Ulusal Odak Ağacı (National Focus Tree) sistemi sayesinde her ülke kendine özgü siyasi ve askeri yollar izleyebilir. Tarihe sadık kalarak gerçek olayları takip edebilir veya alternatif senaryolarla bambaşka bir dünya düzeni kurabilirsiniz. Diplomasi, ittifaklar ve ideolojik tercihler oyunun yönünü belirlerken; casusluk, istihbarat ve gizli operasyonlar da modern savaşın görünmeyen yüzünü yansıtır.

Hearts of Iron IV, savaş stratejisine odaklanan yapısıyla serinin diğer Paradox oyunlarından ayrılır. Cephe hatları, generallerin yetenekleri, ikmal sistemleri ve hava üstünlüğü gibi unsurlar, savaşın gerçekçi ve taktiksel ilerlemesini sağlar. Yanlış planlanan bir saldırı ya da zayıf lojistik, sayıca üstün orduların bile çökmesine yol açabilir.

Zengin mod desteği, genişleme paketleri ve sürekli güncellenen içeriğiyle Hearts of Iron IV, tekrar oynanabilirliği son derece yüksek bir deneyim sunar. Tarih, askeri strateji ve detaylı planlamayı seven oyuncular için vazgeçilmez bir yapım olan bu oyun, II. Dünya Savaşı’nı yeniden yazma fırsatı sunar. Komutayı elinize alın, cepheleri yönetin ve tarihin akışını değiştirin.
            </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
