{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">Hunt Showdown 1896</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                   
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vlEcRm2cQ24?si=2HbPAiGsa1YOYdAR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0Zc_LOX6F_3etxGE0azbADiZwoABye3JJ4g&s" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdJPuTKcScqvQQIv6RMgocmeaghX2-b4s1dA&s" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://duuro.net/ext-img/hunt-showdown-1896-screenshot-3.jpeg" height="250px" width="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfqgxSFEKiDF3MOv49aGUb5P_B4vVTxqFi7Q&s" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIOTQ9QMbeGc6L63btUSbm6GStgWkoXe1Mzg&s" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://www.huntshowdown.com/"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">

                  Hunt: Showdown 1896, korku, hayatta kalma ve rekabeti özgün bir çok oyunculu yapıda birleştiren, yüksek gerilimli bir deneyim sunar. Oyun, 19. yüzyılın sonlarında geçen karanlık ve çürümüş bir dünyada, oyuncuları hem doğaüstü tehditlere hem de diğer avcılara karşı hayatta kalmaya zorlar.

Oyuncular, lanetli varlıkları avlamakla görevli ödül avcıları olarak tehlikeli bölgelere girer. Ancak asıl tehdit yalnızca bu yaratıklar değildir. Aynı haritada dolaşan diğer oyuncular, her karşılaşmayı ölümcül bir hesaplaşmaya dönüştürür. Bu yapı, Hunt: Showdown 1896’yı klasik PvE ya da PvP deneyimlerinden ayırarak ikisini tek bir gerilimli bütün hâline getirir.

Oyunun atmosferi, bataklıklar, terk edilmiş çiftlikler ve karanlık yerleşim alanlarıyla sürekli bir huzursuzluk hissi yaratır. Ses tasarımı, oynanışın merkezinde yer alır; atılan her adım, kırılan her dal ve uzaktan gelen her silah sesi hayati bir ipucu olabilir. Bu nedenle dikkatli hareket etmek ve çevreyi dinlemek hayatta kalmanın anahtarıdır.

Hunt: Showdown 1896, yavaş tempolu ama son derece cezalandırıcı bir oynanış sunar. Tek bir hata, uzun süren bir avın anında sona ermesine neden olabilir. Risk ve ödül dengesi, her kararı daha gergin ve anlamlı kılar.

Hunt: Showdown 1896, korkuyu ani şoklardan çok sürekli tehdit algısı ve belirsizlik üzerinden inşa eden, benzersiz bir çok oyunculu deneyimdir. Atmosferik korku, strateji ve rekabeti bir arada arayan oyuncular için karanlık, yoğun ve unutulmaz bir av sunar.

              </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
