{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">Outward</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                   
                    
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/rD0vqPnbQPc?si=pNxYUZiE7RLc5TC0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://i.ytimg.com/vi/tVzwJmvspyQ/maxresdefault.jpg" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://i.ytimg.com/vi/U1lMR3_gTuI/maxresdefault.jpg" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://i.ytimg.com/vi/nN8fSxg7cEs/maxresdefault.jpg" height="250px" width="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0gjFsmM1H7YoBdwxyaUaMO4N0PaQPwduvGA&s" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://i.ytimg.com/vi/TBXy8cS5X6U/hqdefault.jpg" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://store.steampowered.com/app/794260/Outward_Definitive_Edition/"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">

                  Outward, klasik kahramanlık hikâyelerinden uzak duran, gerçekçi ve ağır tempolu bir hayatta kalma rol yapma oyunudur. Oyunda seçilmiş bir kahraman ya da dünyayı kurtarmakla görevli özel bir karakter değilsin. Aksine, sıradan bir insan olarak tehlikelerle dolu bir dünyada ayakta kalmaya çalışırsın. Hikâye, karakterinin yaşadığı borç ve zorunluluklar nedeniyle evini terk etmek zorunda kalmasıyla başlar ve seni bilinmeyen diyarlara sürükler.

Outward’ın dünyası olan Aurai, fantastik olduğu kadar acımasızdır. Oyun, hikâyesini uzun diyaloglar veya sinematiklerle anlatmaz; bunun yerine keşif, yolculuk ve oyuncunun yaşadığı deneyimler ön plandadır. Farklı bölgeler, kendi kültürlerine, çatışmalarına ve gizli hikâyelerine sahiptir. Bu dünyada ilerledikçe siyasi çekişmeler, mistik güçler ve eski sırlar hakkında ipuçları edinirsin, ancak bunlar hiçbir zaman doğrudan sunulmaz.

Hayatta kalmak Outward’da büyük önem taşır. Açlık, susuzluk, hastalıklar, hava koşulları ve yorgunluk sürekli dikkat edilmesi gereken unsurlardır. Yanlış hazırlık, en basit yolculuğu bile ölümcül hâle getirebilir. Oyuncu, kamp kurmayı, yemek pişirmeyi, eşyalarını dikkatle taşımayı ve savaşlardan kaçınmayı öğrenmek zorundadır. Savaşlar risklidir ve çoğu zaman kaçmak, çatışmaktan daha mantıklıdır.

Outward’ın hikâyesi, güçlenerek efsanevi bir kahramana dönüşmekten çok, hayatta kalmayı başaran bir yolcu olmayı anlatır. Oyun, oyuncuya sürekli olarak dünyanın kendisinden büyük olduğunu hissettirir. Bu yaklaşım sayesinde Outward, keşif, mücadele ve seçimler üzerinden şekillenen, ağır ama derin bir hayatta kalma ve macera deneyimi sunar.

              </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
