{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">Valheim</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                   
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ys1G4xjE8Y0?si=IdMytQM0R_tlrwFh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://i.redd.it/how-2-years-of-gameplay-and-1500-of-in-game-days-changed-my-v0-co4cqb6u6qeb1.png?width=1920&format=png&auto=webp&s=34aa94e9829b1de20abe2349708689274ce80aca" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://i.redd.it/peak-valheim-gameplay-v0-nr7x10b18eve1.png?width=1920&format=png&auto=webp&s=6c4c2f7758a83cd22a3afb5df90a70ef445bf3d2" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTrf20C-jqFoxVVO_te964VMReJCoCO2dnhQ&s" height="250px" width="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://sm.ign.com/ign_ap/gallery/v/valheim-pc/valheim-pc-gameplay-screenshots_bk3j.jpg" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://i.imgur.com/QaEkjFO.jpg" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://www.valheimgame.com/"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">

                  Valheim, Viking mitolojisinden ilham alan, gizemli ve atmosferik bir hayatta kalma hikâyesi sunar. Oyunda, savaşta ölen bir savaşçı olarak Valheim adlı kadim ve vahşi bir diyara gönderilirsin. Burası, tanrıların terk ettiği ve düzenin bozulduğu bir âlemdir. Görevin, bu dünyada hüküm süren kaosu ortadan kaldırmak ve Valheim’i yeniden dengeye kavuşturmaktır.

Hikâye doğrudan ve uzun anlatımlarla verilmez; mitolojik arka plan, çevresel detaylar ve keşifler aracılığıyla yavaş yavaş hissedilir. Valheim, yaşayan ve nefes alan bir dünyadır. Ormanlar, bataklıklar, dağlar ve karanlık diyarlar hem görsel olarak etkileyici hem de son derece tehlikelidir. Her bölge, farklı tehditler ve sırlar barındırır.

Hayatta kalmak için çevreden kaynak toplar, evler ve kaleler inşa eder, silahlar ve zırhlar üretirsin. Avlanır, yemek pişirir ve doğanın sunduğu imkânları kullanarak güçlenirsin. Yolculuğun boyunca karşılaştığın düşmanlar ve güçlü varlıklar, bu dünyanın neden terk edildiğine dair ipuçları sunar. Ancak bu bilgiler açıkça anlatılmaz; oyuncunun keşfetmesi beklenir.

Valheim’in hikâyesi, hayatta kalma mücadelesiyle epik bir yolculuğu birleştirir. Oyun, yalnızca açlık ve tehlikelerle değil, aynı zamanda onur, mücadele ve kendini kanıtlama temalarıyla ilerler. Sessiz ama derin atmosferi sayesinde Valheim, oyuncuya kendi Viking destanını yazma hissi veren, keşif ve macera odaklı bir deneyim sunar.

              </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
