{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">Way Of The Hunter</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                   
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lgaeCnBi1yQ?si=APO0T8AlLW5aCKo1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKu93mKkpz8enpLdHlZbadpMuLYW8YSeCo9g&s" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEMp_ehvXZf8zNxfiHCtVVvpNctJKd_0h-Eg&s" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWFIf7zBaj3055DQ_OcR3fyH5TeFiBF0B3yQ&s" height="250px" width="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz1siBON3uJnYO9-2m11T8RUIz9j0B9mQXXQ&s" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmBtRgy_2971-RonUlyKM_TaPx6fLNEfjISQ&s" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://wayofthehunter.thqnordic.com/"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">

                  Way of the Hunter, gerçekçi ve sabır odaklı yapısıyla avcılık temasını simülasyon seviyesinde ele alan etkileyici bir açık dünya oyunudur. Oyuncular, geniş ve doğal yaşamla dolu haritalarda profesyonel bir avcı rolüne bürünerek yalnızca hedefi vurmayı değil, doğayı okumayı ve ekosistemi anlamayı da öğrenir. Oyun, hızlı aksiyondan ziyade planlama, gözlem ve doğru zamanlama üzerine kuruludur.

Oyunda detaylı balistik ve silah mekanikleri büyük önem taşır. Rüzgâr yönü, mesafe, mermi düşüşü ve hayvanın anatomisi gibi unsurlar, başarılı bir av için dikkate alınmalıdır. Her hayvan türünün kendine özgü davranışları, kaçma refleksleri ve yaşam alanları bulunur; bu da her karşılaşmayı benzersiz kılar.

Hikâye ve kariyer yapısı, Way of the Hunter’ı klasik avcılık oyunlarından ayıran önemli unsurlardan biridir. Oyuncular, aile mirası olan bir av rezervini yönetirken görevler üstlenir, ekipmanlarını geliştirir ve bölgenin dengesini korumaya çalışır. Etik avcılık sistemi, doğru hayvanı doğru şekilde avlamayı teşvik eder.

Doğal sesler, geniş manzaralar ve sakin atmosferle desteklenen Way of the Hunter, doğayla baş başa kalmak isteyen oyuncular için huzurlu ama derin bir deneyim sunar. Gerçekçilik, strateji ve keşif odaklı yapısıyla avcılık simülasyonlarını sevenler için güçlü ve tatmin edici bir yapımdır.

              </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
