{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">Hogwarts Legacy</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1O6Qstncpnc?si=PAEj8_UUIY_np-IH" title="YouTube video player" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                   
                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShRABDlZWCTxPBw8JpBMWH-_TnMCvRWznjUg&s" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://img.bolumsonucanavari.com/images/Upload/a09d816d-4e44-437e-b11e-02c1d1bc9e84.jpg" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://cdn.sortiraparis.com/images/80/88384/780268-hogwarts-legacy-date-de-sortie-gameplay-fonctionnalites-tout-ce-qu-il-faut-savoir.jpg"  width="250px" height="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://ares.shiftdelete.net/2022/03/hogwarts-legacy-oynanis-videosu.jpg" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                     <img src="https://images.squarespace-cdn.com/content/v1/55ef0e29e4b099e22cdc9eea/0e298187-316c-4c6d-8f46-812fdeb2a45b/HogwartsLegacy-screenshot.jpg" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://www.playstation.com/tr-tr/games/hogwarts-legacy/"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">

                    Hogwarts Legacy, Harry Potter evrenini yıllardır büyüleyen atmosferi yepyeni bir bakış açısıyla sunarak oyuncuyu 1800’lerin büyücülük dünyasına davet eden açık dünya aksiyon–RPG oyunudur. Bu kez hikâyenin merkezinde ne Harry, ne de tanıdık karakterler var; tamamen kendi büyücünüzü yaratıyor ve Hogwarts’ın gizem dolu geçmişinde kendi kaderinizi yazıyorsunuz.

Oyun, Hogwarts Şatosu’nun detaylı şekilde yeniden inşa edilmiş hâlini keşfetme fırsatı sunuyor: gizli geçitler, büyülü sınıflar, yaşayan tablolar, iksir laboratuvarları ve karanlık sırlarla dolu koridorlar… Derse katılıyor, büyüler öğreniyor, iksirler hazırlıyor, yaratıklarla ilgileniyor ve büyü yeteneklerinizi geliştiriyorsunuz. Bunun yanında okulun dışına da geniş bir açık dünya yayılıyor: Hogsmeade köyü, Yasak Orman ve çevredeki büyülü bölgeler, kendi sırlarını keşfetmeniz için sizi bekliyor.

Savaş sistemi, hem klasik büyüleri hem de yeni yetenekleri kullanabileceğiniz dinamik bir yapıya sahip. Düşman büyücülerle düello yapmak, karanlık yaratıklarla mücadele etmek veya çevresel büyülerle avantaj sağlamak tamamen sizin oyun tarzınıza bağlı. Karakterinizi farklı yetenek ağaçlarıyla özelleştirebilir; saldırı, savunma, gizlilik veya destek odaklı bir büyücü hâline gelebilirsiniz.

Hikâye boyunca büyücü topluluğunu tehdit eden karanlık bir güçle yüzleşirken, yaptığınız seçimler karakterinizin yolunu ve etrafınızdaki dünyanın tepkisini şekillendiriyor. Dostluklar kurabilir, farklı büyü fraksiyonlarıyla etkileşime girebilir ve büyü tarihinin bilinmeyen bir döneminde önemli bir rol üstlenebilirsiniz.

Hogwarts Legacy, büyücülük dünyasını baştan sona keşfetmek isteyen, özgürce inşa edilebilir bir hikâye arayan ve sihirli atmosferde kaybolmayı seven oyuncular için mükemmel bir deneyim sunuyor. Hem Hogwarts’ın nostaljik havasını hem de yeni bir çağın heyecanını bir arada yaşatan oyunda, kendi büyü destanınızı yazmaya hazır olun.

                </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
