{% extends 'base.html' %}
{% load static %}

{% block baslik %}{% endblock %}

{% block icerik %}

<div class="game-page-container" >
    <header class="game-header" style="display: flex; color: #45a29e; justify-content: center; width: 100%;" >
       <h1 class="game-title" style=" font-family: Arial, sans-serif;">WWE 2K25</h1>
    </header>

    <div class="">
        <main class="game-main-content"  >
            <div class="media-container" >
                <div class="video-preview" style=" align-items: center; justify-content: center; display: flex; padding-top: 20px;">
                   
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/07_F68J-H9w?si=CNVw_n_c_OZzd2_G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="thumbnail-bar" style=" align-items: center; justify-content: center; display: flex ; padding-top: 20px;"  >
                  
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS822zKPQb_G76aR1sLFcMkyvNteZwYQyY-9g&s" alt="" width="250px" height="250px" style="padding-right: 20px; padding-left: 20px;" class="">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiyKsHQ0pBtKtBxUKSTeAQA83CPMjjhn0BGQ&s" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrUjcTBfmTjw5vnRD88legllliiHpt9uetPw&s" height="250px" width="250px" alt="" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://www.thesmackdownhotel.com/images/wwe2k25/articles/wwe-2k25-chain-wrestling.jpg" alt=""  width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9ZPQxdW21H5z8RFiWZmw172Zrg-otFEYgMA&s" alt="" width="250px" height="250px" style="padding-right: 20px;" class="thumbnail">
                </div>
            </div>
            <div class="thumbnail-container">
    </div>

    <div class="link" style=" align-items: center; justify-content: center; display: flex ; padding-top: 40px; font-size: 18pt;"  >
                  
                   Oyunu satın almak için &nbsp;
                   <a href="https://wwe.2k.com/2k25/"  target="_blank" style="color: gold; text-decoration: none; font-weight: bold;">
                          TIKLAYIN
                 </a>
                </div>

            <section class="game-details-section">
                <h2 class="section-title" style=" font-family: Arial, sans-serif;  color: #45a29e; ">Oyun Hakkında</h2>
                <p style=" font-size: x-large;">

                  WWE 2K25, profesyonel güreş dünyasının görkemini ve heyecanını bir kez daha ekranlara taşıyan, içerik ve oynanış açısından zengin bir yapım olarak öne çıkıyor. Geliştirilmiş oyun motoru sayesinde güreşçilerin hareketleri, darbelerin etkisi ve ring içi animasyonlar daha akıcı ve gerçekçi hale getirilmiştir. Her maç, WWE şovlarının sinematik atmosferini başarıyla yansıtır.

Oyunda geniş güreşçi kadrosu, güncel WWE süperstarları, efsane isimler ve NXT güreşçileriyle birlikte sunulur. Detaylı karakter modellemeleri, giriş animasyonları ve lisanslı müzikler, gerçek bir WWE etkinliğinde bulunuyormuş hissi yaratır. Farklı maç türleri ve özelleştirilebilir kurallar, oynanışa çeşitlilik katar.

MyCareer ve Universe Mode, WWE 2K25’in en çok vakit geçirilen modları arasında yer alır. MyCareer modunda kendi güreşçini yaratıp kariyer basamaklarını tırmanırken, Universe Mode’da WWE evrenini tamamen kendi senaryolarına göre şekillendirmek mümkündür. Ayrıca çevrim içi modlar sayesinde diğer oyuncularla rekabet etmek de önemli bir yer tutar.

Görsel kalite, lisanslı içerikler ve eğlenceli oynanışın bir araya geldiği WWE 2K25, hem WWE hayranları hem de dövüş sporları oyunlarını seven oyuncular için tatmin edici ve uzun soluklu bir güreş deneyimi sunar. Ringde geçen her an, gösteri ve rekabet duygusunu güçlü biçimde hissettirir.

              </p>
                </section>
        </main>

       

          
    </div>
</div>


{% endblock %}
